<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Pos Web</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="../styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Let's Go</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="../index.html">主页</a></li>
                        <li><a href="items.html">商品列表</a></li>

                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="active">
                            <a href="#">
                                <span class="glyphicon glyphicon-shopping-cart"></span>购物车 (<span id="count">0</span>)
                            </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container text-center">

            <div class="panel panel-default">

                <div class="">
                    <h3>购物清单</h3>
                </div>

                <div class="panel-body">
                    <table id="bought-table" class="table table-bordered">
                        <tr>
                            <th>分类</th><th>名称</th><th>单价(元)</th><th>单位</th><th>数量</th><th>小计</th>
                        </tr>
                        <tr class="bought-item">
                            <td>饮料</td>
                            <td class="item-name">可口可乐</td>
                            <td class="item-price">3</td>
                            <td>瓶</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-default">-</button>
                                    <button class="btn btn-default item-count" disabled="disabled">0</button>
                                    <button class="btn btn-default">+</button>
                                </div>
                            </td>
                            <td class="item-sum">0</td>
                        </tr>
                        <tr class="bought-item">
                            <td>饮料</td>
                            <td class="item-name">雪碧</td>
                            <td class="item-price">3</td>
                            <td>瓶</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-default">-</button>
                                    <button class="btn btn-default item-count" disabled="disabled">0</button>
                                    <button class="btn btn-default">+</button>
                                </div>
                            </td>
                            <td class="item-sum">0</td>
                        </tr>
                        <tr class="bought-item">
                            <td>水果</td>
                            <td class="item-name">苹果</td>
                            <td class="item-price">5.5</td>
                            <td>斤</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-default">-</button>
                                    <button class="btn btn-default item-count" disabled="disabled">0</button>
                                    <button class="btn btn-default">+</button>
                                </div>
                            </td>
                            <td class="item-sum">0</td>
                        </tr>
                        <tr class="bought-item">
                            <td>水果</td>
                            <td class="item-name">荔枝</td>
                            <td class="item-price">15</td>
                            <td>斤</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-default">-</button>
                                    <button class="btn btn-default item-count" disabled="disabled">0</button>
                                    <button class="btn btn-default">+</button>
                                </div>
                            </td>
                            <td class="item-sum">0</td>
                        </tr>
                        <tr class="bought-item">
                            <td>生活用品</td>
                            <td class="item-name">电池</td>
                            <td class="item-price">2</td>
                            <td>个</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-default">-</button>
                                    <button class="btn btn-default item-count" disabled="disabled">0</button>
                                    <button class="btn btn-default">+</button>
                                </div>
                            </td>
                            <td class="item-sum">0</td>
                        </tr>
                        <tr class="bought-item">
                            <td>食品</td>
                            <td class="item-name">方便面</td>
                            <td class="item-price">4.5</td>
                            <td>袋</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-default">-</button>
                                    <button class="btn btn-default item-count" disabled="disabled">0</button>
                                    <button class="btn btn-default">+</button>
                                </div>
                            </td>
                            <td class="item-sum">0</td>
                        </tr>
                    </table>
                </div>

                <div class="">
                    <h3>赠送商品</h3>
                </div>

                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>分类</th><th>名称</th><th>数量</th>
                        </tr>
                        <tr class="present-item">
                            <td>饮料</td>
                            <td class="item-name">可口可乐</td>
                            <td class="item-free">0</td>
                        </tr>
                        <tr class="present-item">
                            <td>饮料</td>
                            <td class="item-name">雪碧</td>
                            <td class="item-free">0</td>
                        </tr>
                        <tr class="present-item">
                            <td>水果</td>
                            <td class="item-name">苹果</td>
                            <td class="item-free">0</td>
                        </tr>
                        <tr class="present-item">
                            <td>水果</td>
                            <td class="item-name">荔枝</td>
                            <td class="item-free">0</td>
                        </tr>
                        <tr class="present-item">
                            <td>生活用品</td>
                            <td class="item-name">电池</td>
                            <td class="item-free">0</td>
                        </tr>
                        <tr class="present-item">
                            <td>食品</td>
                            <td class="item-name">方便面</td>
                            <td class="item-free">0</td>
                        </tr>
                    </table>
                </div>

                <div class="side-space text-right">
                    <p>总计：<span id="total">0.00元</span></p>
                    <p>节省：<span id="save">0.00元</span></p>
                    <button class="btn btn-primary vertical-space">付款</button>
                </div>
            </div>

        </div>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../../bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="../../bower_components/bootstrap/js/affix.js"></script>
        <script src="../../bower_components/bootstrap/js/alert.js"></script>
        <script src="../../bower_components/bootstrap/js/dropdown.js"></script>
        <script src="../../bower_components/bootstrap/js/tooltip.js"></script>
        <script src="../../bower_components/bootstrap/js/modal.js"></script>
        <script src="../../bower_components/bootstrap/js/transition.js"></script>
        <script src="../../bower_components/bootstrap/js/button.js"></script>
        <script src="../../bower_components/bootstrap/js/popover.js"></script>
        <script src="../../bower_components/bootstrap/js/carousel.js"></script>
        <script src="../../bower_components/bootstrap/js/scrollspy.js"></script>
        <script src="../../bower_components/bootstrap/js/collapse.js"></script>
        <script src="../../bower_components/bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="../../node_modules/lodash/lodash.js"></script>

        <script src="../scripts/models/promotion.js"></script>
        <script src="../scripts/fixtures.js"></script>
        <script src="../scripts/main.js"></script>
        <script src="../scripts/cart.js"></script>
        <!-- endbuild -->
</body>
</html>
