<div class="container text-center">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="side-space text-left">购物清单</h4>
        </div>
        <div class="panel-body">
            <p id="dateTime" class="text-left"></p>
            <table id="list-table" class="table table-bordered">
                <tr>
                    <th>分类</th><th>名称</th><th>单价(元)</th><th>单位</th><th>数量</th><th>小计</th>
                </tr>
            </table>
        </div>
        <div class="panel-heading">
            <h4 class="side-space text-left">赠送商品</h4>
        </div>
        <div class="panel-body">
            <table id="free-table" class="table table-bordered">
                <tr>
                    <th>分类</th><th>名称</th><th>数量</th>
                </tr>
            </table>
        </div>
        <div class="side-space text-right">
            <p>总计：<span id="cart-fare">0.00</span>元</p>
            <p>节省：<span id="cart-saving">0.00</span>元</p>
            <a id="confirm" class="btn btn-primary vertical-space" href="list.html">确认</a>
        </div>
    </div>
</div>
